/* src/styles/CardForm.module.css */
/*Card Details Page, Editing card page, add card*/

.cardPreview {
    padding: 20px;
    width: 320px;
    border-radius: 12px;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: #f4f4f4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    background-image: linear-gradient(45deg, rgba(224, 224, 224, 0.3) 25%, transparent 25%, transparent 75%, rgba(224, 224, 224, 0.3) 75%);
}


.error {
    color: #ff4d4d;
    font-size: 0.9em;
    margin-top: 5px;
}

input,
select {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

h3 {
    font-size: 1.4rem;
    margin: 0 0 8px;
    color: #333;
}

p {
    margin: 4px 0;
    font-size: 1rem;
    color: #494848;
}