/* Common.module.css */
/* container for all pages */
.pageContainer {
    width: 100%;
    max-width: 360px;
    min-width: 320px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--container-bg, white);
    color: var(--text-color, black);
    border-radius: 8px;
}

.pageTitle {
    margin-bottom: 20px;
    /* Відстань між заголовком та контентом */
    text-align: center;
    /* Центрування заголовка */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;


}

button:hover {
    background-color: #155a8a;
}

/* Візуальні зміни для планшетів (від 768px) */
@media (min-width: 768px) {
    .pageContainer {
        max-width: 720px;
        /* Розширюємо контейнер для планшетів */
        padding: 30px;

    }
}

/* Візуальні зміни для десктопів (від 1024px) */
@media (min-width: 1024px) {
    .pageContainer {
        max-width: 960px;
        /* Більша ширина для десктопів */
        padding: 40px;
    }
}

/* Візуальні зміни для великих екранів (від 1440px) */
@media (min-width: 1440px) {
    .pageContainer {
        max-width: 1200px;
        /* Максимальний розмір для великих екранів */
    }
}