/* src/index.css
 */
/* Base theme (light) */
:root {
  --background-color: white;
  --text-color: black;
  --container-bg: #f0f0f0;
  --button-bg: #1d92ea;
  --button-text: white;
  --button-hover-bg: #155a8a;
  --card-bg: #f4f4f4;
  --card-gradient-color: 224, 224, 224;
  --card-title-color: #333;
  --card-description-color: #494848;
  --active-card-border-color: green;
  --active-card-shadow-color: rgba(0, 255, 0, 0.3);
}

/* Light theme */
.theme-light {
  --background-color: white;
  --text-color: black;
  --container-bg: #f0f0f0;
  --button-bg: #1d92ea;
  --button-text: white;
  --button-hover-bg: #155a8a;
}

/* Dark theme */
.theme-dark {
  --background-color: #333;
  --text-color: #fff;
  --container-bg: #1a1a1a;
  --button-bg: #4a4a4a;
  --button-text: #fff;
  --button-hover-bg: #5a5a5a;
  --card-bg: #2a2a2a;
  --card-gradient-color: 50, 50, 50;
  --card-title-color: #e0e0e0;
  --card-description-color: #b0b0b0;
  --active-card-border-color: #4CAF50;
  --active-card-shadow-color: rgba(76, 175, 80, 0.3);
}

/* Green theme */
.theme-green {
  --background-color: #e6ffe6;
  --text-color: #006400;
  --container-bg: #90b991;
  --button-bg: #2a6e2a;
  --button-text: white;
  --button-hover-bg: #1e4e1e;
  --card-bg: #c8e6c9;
  --card-gradient-color: 200, 230, 201;
  --card-title-color: #1b5e20;
  --card-description-color: #2e7d32;
  --active-card-border-color: #1b5e20;
  --active-card-shadow-color: rgba(27, 94, 32, 0.3);
}

/* Apply these variables globally */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Styles for pageContainer */
.pageContainer {
  background-color: var(--container-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Styles for buttons */
button {
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}