/* src/index.css
 */
:root {
  --header-bg: linear-gradient(90deg, #a8e6cf, #b3b3b3);
  --background-color: white;
  --text-color: black;
  --container-bg: #f0f0f0;
  --button-bg: #82c78a;
  --button-text: white;
  --button-hover-bg: #85b98b;
  --card-bg: #f4f4f4;
  --card-gradient-color: 224, 224, 224;
  --card-title-color: #333;
  --card-description-color: #494848;
  --active-card-border-color: green;
  --active-card-shadow-color: rgba(0, 255, 0, 0.3);
}

/* Light theme */
.theme-light {
  --header-bg: linear-gradient(90deg, #a8e6cf, #b3b3b3);
  --background-color: white;
  --text-color: black;
  --container-bg: #f0f0f0;
  --button-bg: #82c78a;
  --button-text: white;
  --button-hover-bg: #33c444;
}

/* Dark theme */
.theme-dark {
  /* Варіант градієнта з синіми відтінками */
  --header-bg: linear-gradient(90deg, #696969, #a9a9a9);
  --background-color: #6b6b6b;
  --text-color: #fff;
  --container-bg: #a4a4a4;
  --button-bg: #4a4a4a;
  --button-text: #fff;
  --button-hover-bg: #5a5a5a;
  --card-bg: #2a2a2a;
  --card-gradient-color: 50, 50, 50;
  --card-title-color: #e0e0e0;
  --card-description-color: #b0b0b0;
  --active-card-border-color: #4CAF50;
  --active-card-shadow-color: rgba(76, 175, 80, 0.3);
}

/* Green theme */
.theme-green {
  --header-bg: linear-gradient(90deg, #e6ffe6, #9bd6c4);
  --background-color: #e6ffe6;
  --text-color: #006400;
  --container-bg: #9bd6c4;
  --button-bg: #2a6e2a;
  --button-text: white;
  --button-hover-bg: #1e4e1e;
  --card-bg: #c8e6c9;
  --card-gradient-color: 200, 230, 201;
  --card-title-color: #1b5e20;
  --card-description-color: #2e7d32;
  --active-card-border-color: #1b5e20;
  --active-card-shadow-color: rgba(27, 94, 32, 0.3);
}

/* Apply these variables globally */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Styles for header */
.header {
  background: var(--header-bg);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #fff;
  max-width: 1200px;
  margin: 0 auto;
}

/* Styles for pageContainer */
.pageContainer {
  background-color: var(--container-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Styles for buttons */
button {
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg);
}